QDialog#readerSettingDialog,
QScrollArea#readerSettingScrollArea,
QScrollArea#readerSettingScrollArea > QWidget > QWidget#qt_scrollarea_viewport,
QWidget#readerSettingScrollWidget {
    background-color: rgb(243, 243, 243);
}

QScrollArea#readerSettingScrollArea {
    border: none;
}
